@{
  Layout = "_Layout";
}
<h1 class="jumbotron">Dr. Sneuss's Factory Registrar</h1>
<br>
@Html.ActionLink("Engineering Roster", "Index", "Engineer")<br><br>
@Html.ActionLink("Machine Inventory", "Index", "Machine")<br><br>
@Html.ActionLink("View Complete Details", "Lists")